<app-animated-page #page>
  <md-toolbar color="primary">
    <span>Add Routine</span>
    <a md-icon-button class="header-secondary-button" (click)="onClearClick()">
      <md-icon>clear</md-icon>
    </a>
  </md-toolbar>

  <form class="layout-padding">
    <md-form-field class="full-width">
      <input mdInput name="name" placeholder="Name" [(ngModel)]="name">
    </md-form-field>
    <button md-raised-button class="full-width" (click)="onAddTask($event)">Add Task</button>


    <md-list *ngIf="!tasks.length && !addingTask">
      <md-list-item class="no-list-items">
        <i class="no-list-items">Nothing to see here</i>
      </md-list-item>
    </md-list>

    <md-list *ngIf="tasks.length || addingTask">
      <md-list-item *ngIf="addingTask">
        <md-form-field class="full-width">
          <input mdInput placeholder="Task Name" name="taskName" [(ngModel)]="taskName" (blur)="onAddTaskBlur(taskName)">
        </md-form-field>
      </md-list-item>
      <md-list-item *ngFor="let task of tasks; index as i">
        {{ task.name }}
        <button md-icon-button class="list-item-more-button">
          <md-icon class="pull-right">more_vert</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </form>

  <a md-fab class="main-action-button" (click)="onSaveClick()">
    <md-icon>done</md-icon>
  </a>
</app-animated-page>
