.layout-padding {
  padding: 16px;
}

.full-width {
  width: 100%;
}

.list-item-more-button {
  position: absolute;
  right: 16px;
  top: 4px;
}

.header-secondary-button {
  position: absolute;
  right: 16px;
}

i.no-list-items {
  display: block;
  width: 100%;
  text-align: center;
}

md-list-item.no-list-items {
  background-color: #eeeeee;
  margin-right: 16px;
  margin-left: 16px;
}
