.layout-padding {
  padding: 16px;
}

.full-width {
  width: 100%;
}

.list-item-more-button {
  position: absolute;
  right: 16px;
  top: 4px;
}

.header-secondary-button {
  position: absolute;
  right: 16px;
}
